{% load i18n %}{% load compress %}{% load leaflet_tags %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap Realtime Check{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OpenStreetMap realtim check">
    <meta name="keywords" content="osm, openstreetmap, monitoring">
    <meta name="author" content="Rodolphe Quiédeville">
    <link href="{{STATIC_URL}}vendor/bootstrap.min.css" rel="stylesheet">
    <!-- These CSS can-t be put elsewhere -->
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      .gravatar {margin-top: 4px;}
      #rssicon {margin-top: 8px;}
      #formnavsearch {margin-right:10px;}
    </style>
    {% leaflet_css plugins="forms" %}
    {% compress css %}
    <link href="{{STATIC_URL}}css/ortcfront.css" rel="stylesheet">
    {% block cssheaders %}{% endblock %}
    {% endcompress %}
    <!-- jsheaders -->
    <script src="{{STATIC_URL}}vendor/jquery-1.11.0.min.js"></script>
    <script src="{{STATIC_URL}}vendor/d3.v3.min.js"></script>
    <script src="{{STATIC_URL}}vendor/mustache.js"></script>
    {% leaflet_js plugins="forms" %}
    {% block jsvendors %}{% endblock %}
    {% compress js %}
    <script src="{{STATIC_URL}}js/colors.js"></script>
    {% block jsheaders %}
    {% endblock %}
    {% endcompress %}
    <!-- /jsheaders -->
    {% block headers %}
    {% endblock %}
  </head>
  {% block body %}<body>{% endblock %}
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">

	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>

	    <a class="navbar-brand" href="/">ORTC</a>
	  </div>

	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
              <li><a href="/events/">{% trans "Events" %}</a></li>
              <li><a href="/alerts/">{% trans "Alerts" %}</a></li>
              <li><a href="/rules/">{% trans "Rules" %}</a></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      {% if user.is_authenticated %}
	      <li>{% gravatar user.email 40 %}</li>

                <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>

                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/accounts/profile/"><i class="fa fa-user fa-fw"></i> {% trans "User Profile" %}</a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                        </li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
	      {% else %}
	      <li><a href="/accounts/login/">{% trans "Sign in" %}</a></li>
	      {% endif %}
	      <li><a href="/p/contact/">{% trans "Contact" %}</a></li>
	    </ul>

	    <form id="formnavsearch" class="navbar-form navbar-right" action="/search/">
              <input type="text" name="q" class="form-control" placeholder="Search...">
	    </form>
	    <div class="nav navbar-nav navbar-right" >{% block rssnavbar %}{% endblock %}</div>
	  </div><!--/.nav-collapse -->
	</div><!--/.container -->
      </div><!--/.navbar -->


      <div id="container" class="container">

	<div class="row">
	  <div class="col-md-12">
            {% block content %}
	    {% endblock %}
	  </div>
	</div><!--/row-->

      </div><!--/.container-->

    </div><!--/ .wrap -->

    {% block footer %}
    {% endblock %}
    {% compress js %}
    <script src="{{STATIC_URL}}vendor/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}vendor/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}vendor/bootstrap-modal.js"></script>
    {% endcompress %}
    {% compress js %}
    {% block jsfooter %}{% endblock %}
    {% endcompress %}
  </body>
</html>
