{% extends "registration/basereg.html" %}
{% load i18n %}
{% block content_registration %}
<h3>Se connecter à son compte</h3>

<div class="page-header well">
  <form class="form-signin" role="form" method="post" action="">
    {% csrf_token %}
    <input name="username" type="text" class="form-control" placeholder="Login" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p>{% trans "Forgot password" %} ?
    <a href="/accounts/password/reset">{% trans "Reset it" %}</a>!</p>
</div>

<h3>Créer un nouveau compte</h3>
<div class="page-header well">
  Créer un <a href="/accounts/register">nouveau compte</a> !
</div>

{% endblock %}
