{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block content %}
<div class="row">    
  <div class="col-md-12">
    <div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Alerts" %}</th>
	    <th>{% trans "Subscribers" %}</th>
	    <th>{% trans "Notifications" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for alert in alerts %}
	  <tr>
	    <td><a href="{{ alert.get_absolute_url }}">{{alert.name}}</a></td>
	    <td><span class="badge">{{alert.nb_subscribers}}</span></td>
	    <td><span class="badge">{{alert.nb_notifications}}</span></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>      
    </div>    
  </div>
</div>
{% endblock %}
