{% extends "base.html" %}{% load leaflet_tags %}{% load geojson_tags %}
{% load i18n %}{% load compress %}{% load crispy_forms_tags %}
{% block title %} : {{object.name}}{% endblock %}
{% block pagetitle %}{% trans "Alert" %} : {{object.name}}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <h3>
      {% if object.status == 1 %}<span class="label label-default">{{object.status_str}}</span>{% endif %}
      {% if object.status == 2 %}<span class="label label-info">{{object.status_str}}</span>{% endif %}
      {% if object.status == 3 %}<span class="label label-success">{{object.status_str}}</span>{% endif %}
      {% if object.status == 4 %}<span class="label label-danger">{{object.status_str}}</span>{% endif %}
    </h3>

    <div class="well">
      <ul>
	<li>
	  {% trans "Alert" %} : <a href="{{object.alert.get_absolute_url}}">{{object.alert}}</a>
	</li>
	<li>
	  {% trans "Domain" %} : <a href="{{object.alert.domain.get_absolute_url}}">{{object.alert.domain}}</a>
	</li>
	<li>
	  {% trans "Occurs on" %} {{object.date_event}}
	</li>
      </ul>
    </div>
    <div>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>{% trans "Action" %} : {{object.action_str}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>OSMID<td><td>
	    <img src="{{STATIC_URL}}img/{{event.get_osmid_img}}" />
	      <a target="_blank" href="{{event.get_osmid_url}}">{{event.osmid}}</a></td>
	  </tr><tr>
	    <td>Changeset<td><td><a target="_blank" href="{{event.get_changeset_url}}">{{event.changeset}}</a></td>
	  </tr>
	</tbody>
      </table>
    </div>
    <div>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>{% trans "Reports" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for report in reports %}
	  <tr>
	    <td>
	      <div>
	      {% if report.status == 1 %}<span class="label label-default">{{report.status_str}}</span>{% endif %}
	      {% if report.status == 2 %}<span class="label label-info">{{report.status_str}}</span>{% endif %}
	      {% if report.status == 3 %}<span class="label label-success">{{report.status_str}}</span>{% endif %}
	      {% if report.status == 4 %}<span class="label label-danger">{{report.status_str}}</span>{% endif %}
	      by <span>{{report.author.username}}</<span> <span class="tiny-date">{{report.create_on}}</span>
	      </div>
	      <div>
		{{report.comment}}
	      </div>
	      <div>

	      </div>

	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

  </div>

  <div class="col-md-5">
    {% leaflet_map "alert_detail" callback="main_map_init" %}
    <hr/>
    <h3>Make a report</h3>
    {% if user.is_authenticated %}
    {% crispy form %}
    {% else %}
    <div>Please <a href="{% url 'auth_login' %}">log in</a> to make a report</a></div>
    {% endif %}
  </div>

  <div class="col-md-2">
    <div>
      <p>
	<a href="{% url 'alert_subscribe' object.id %}" class="btn btn-primary btn-block">{% trans "Subscribe" %}</a>
      </p>
    </div>


  </div>
</div>
<script type="text/javascript">
  function main_map_init (map, options) {

  var layer = L.geoJson();
  map.addLayer(layer);
  $.getJSON("{% url 'event_geojson' object.id %}", function (data) {
    layer.addData(data);
    map.fitBounds(layer.getBounds());
  });
  }
</script>
{% endblock %}
